__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store

data/
data_backup_before_0612_zip/
*.zip
model_runs/
results/
notebooks/

*.pt
!checkpoints/month_final.pt
!checkpoints/type_final.pt

checkpoints/*_training/
*.png
*.csv
!docs/*.csv

